<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf</title>
    <link rel="stylesheet" href="html-style.css">
</head>

<body>
    <h1>Thymeleaf</h1>
    <p th:text="${attribute1}" />
    <p th:text="${attribute2}" />
    <div class="boxed">boxed div content</div>
    <br>
    <table>
        <tr>
            <td>name</td>
            <td>username</td>
        </tr>
        <!-- https://www.baeldung.com/thymeleaf-iteration -->
        <tr th:each="entry, iStat : ${attribute3}">
            <td th:text="${entry.name}" />
            <td th:text="${entry.username}" />
        </tr>
    </table>
    <hr>
    <!-- https://ejs.co/#install -->
    <div id="ejs_output"></div>
    <!-- https://unpkg.com/ejs/ejs.js -->
    <script src="ejs.js"></script>
    <script type="module">
        const response = await fetch("/db")
        const json = await response.json()
        const ejs_template =
            `<table>
 <tr>
  <td>name</td>
  <td>username</td>
 </tr>
 <% for(let entry of json) { %>
 <tr>
  <td><%= entry.name %></td>
  <td><%= entry.username %></td>
 </tr>
 <% } %>
</table>`
        const html = ejs.render(ejs_template, { json })
        document.querySelector("#ejs_output").innerHTML = html
    </script>
</body>

</html>