<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf</title>
    <link rel="stylesheet" href="html-style.css">
</head>

<body>
    <h1>Thymeleaf</h1>
    <p th:text="${attribute1}" />
    <p th:text="${attribute2}" />
    <div class="boxed">boxed div content</div>
    <br>
    <!-- https://www.baeldung.com/thymeleaf-iteration -->
    <div class="boxed" th:each="entry, iStat : ${attribute3}">
        <div th:text="${entry.name}" />
        <div th:text="${entry.username}" />
    </div>
    <hr>
    <!-- https://ejs.co/#install -->
    <div id="ejs_output"></div>
    <!-- https://unpkg.com/ejs/ejs.js -->
    <script src="ejs.js"></script>
    <script type="module">
        // let json = [{"name":"dario","username":"yalf"}]
        const response = await fetch("/db?username=yalf")
        const json = await response.json()
        const ejs_template =
            `<% for(let entry of json) { %>
                <div>
                    <%= entry.name %>: <%= entry.username %>
                </div>
            <% } %>`
        const html = ejs.render(ejs_template, { json })
        document.querySelector("#ejs_output").innerHTML = html
    </script>
</body>

</html>